-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."AddendumType" AS ENUM ('HANDOVER', 'AMENDMENT', 'COMMITMENT');

-- CreateEnum
CREATE TYPE "public"."ContractStatus" AS ENUM ('DRAFT', 'ACTIVE', 'EXPIRED', 'RENEWED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."ContractType" AS ENUM ('RESIDENTIAL', 'INVESTMENT_SHOP', 'INVESTMENT_APARTMENT', 'COMMERCIAL_OFFICE');

-- CreateEnum
CREATE TYPE "public"."ResidentialPurpose" AS ENUM ('FAMILY', 'BACHELORS', 'EMPLOYEES');

-- CreateEnum
CREATE TYPE "public"."TenantType" AS ENUM ('INDIVIDUAL', 'COMPANY');

-- CreateEnum
CREATE TYPE "public"."UserRole" AS ENUM ('ADMIN', 'STAFF');

-- CreateEnum
CREATE TYPE "public"."UtilityParty" AS ENUM ('OWNER', 'TENANT');

-- CreateTable
CREATE TABLE "public"."Addendum" (
    "id" TEXT NOT NULL,
    "type" "public"."AddendumType" NOT NULL,
    "contractId" TEXT NOT NULL,
    "creationDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "content" TEXT,
    "pdfUrl" TEXT,
    "wordUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Addendum_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Company" (
    "id" TEXT NOT NULL,
    "nameAr" TEXT NOT NULL,
    "nameEn" TEXT,
    "representativeName" TEXT NOT NULL,
    "logo" TEXT,
    "stamp" TEXT,
    "authUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Company_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Contract" (
    "id" TEXT NOT NULL,
    "contractNumber" TEXT NOT NULL,
    "type" "public"."ContractType" NOT NULL,
    "status" "public"."ContractStatus" NOT NULL DEFAULT 'DRAFT',
    "templateId" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "creationDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "durationYears" INTEGER NOT NULL,
    "durationText" TEXT,
    "hasGracePeriod" BOOLEAN NOT NULL DEFAULT false,
    "gracePeriodStart" TIMESTAMP(3),
    "gracePeriodEnd" TIMESTAMP(3),
    "gracePeriodText" TEXT,
    "monthlyRent" DOUBLE PRECISION NOT NULL,
    "monthlyRentText" TEXT,
    "deposit" DOUBLE PRECISION,
    "advance" DOUBLE PRECISION,
    "advanceText" TEXT,
    "paymentStartDate" TIMESTAMP(3),
    "electricityOn" "public"."UtilityParty" NOT NULL DEFAULT 'TENANT',
    "waterOn" "public"."UtilityParty" NOT NULL DEFAULT 'TENANT',
    "propertyBlock" TEXT,
    "propertyZone" TEXT,
    "propertySection" TEXT,
    "propertyStreet" TEXT,
    "propertyAlley" TEXT,
    "unitNumber" TEXT,
    "floor" TEXT,
    "autoNumber" TEXT,
    "residentialPurpose" "public"."ResidentialPurpose",
    "occupantsCount" INTEGER,
    "occupantsCompany" TEXT,
    "businessPurpose" TEXT,
    "hasGuarantor" BOOLEAN NOT NULL DEFAULT false,
    "activationPeriod" INTEGER,
    "contractData" JSONB NOT NULL,
    "clausesSnapshot" JSONB,
    "pdfUrl" TEXT,
    "wordUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Template" (
    "id" TEXT NOT NULL,
    "type" "public"."ContractType" NOT NULL,
    "nameAr" TEXT NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "companyId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Template_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TemplateClause" (
    "id" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "titleAr" TEXT,
    "contentAr" TEXT NOT NULL,
    "contentEn" TEXT,
    "isOptional" BOOLEAN NOT NULL DEFAULT false,
    "conditionKey" TEXT,
    "variables" JSONB,

    CONSTRAINT "TemplateClause_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Tenant" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "tenantType" "public"."TenantType" NOT NULL DEFAULT 'INDIVIDUAL',
    "tenantName" TEXT,
    "namePart1" TEXT,
    "namePart2" TEXT,
    "namePart3" TEXT,
    "namePart4" TEXT,
    "nationality" TEXT,
    "civilId" TEXT,
    "workAddress" TEXT,
    "phone" TEXT,
    "companyName" TEXT,
    "repName" TEXT,
    "repCivilId" TEXT,
    "repNationality" TEXT,
    "repPhone" TEXT,
    "legalCapacity" TEXT,
    "legalDoc" TEXT,
    "legalDocDate" TIMESTAMP(3),
    "companyAddress" TEXT,
    "idImageUrl" TEXT,
    "ocrData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Tenant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "authUserId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "public"."UserRole" NOT NULL DEFAULT 'STAFF',
    "companyId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Addendum_contractId_idx" ON "public"."Addendum"("contractId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Company_authUserId_key" ON "public"."Company"("authUserId" ASC);

-- CreateIndex
CREATE INDEX "Contract_companyId_status_idx" ON "public"."Contract"("companyId" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "Contract_contractNumber_idx" ON "public"."Contract"("contractNumber" ASC);

-- CreateIndex
CREATE INDEX "Contract_tenantId_idx" ON "public"."Contract"("tenantId" ASC);

-- CreateIndex
CREATE INDEX "Contract_type_idx" ON "public"."Contract"("type" ASC);

-- CreateIndex
CREATE INDEX "Template_companyId_type_idx" ON "public"."Template"("companyId" ASC, "type" ASC);

-- CreateIndex
CREATE INDEX "TemplateClause_templateId_order_idx" ON "public"."TemplateClause"("templateId" ASC, "order" ASC);

-- CreateIndex
CREATE INDEX "Tenant_civilId_idx" ON "public"."Tenant"("civilId" ASC);

-- CreateIndex
CREATE INDEX "Tenant_companyId_idx" ON "public"."Tenant"("companyId" ASC);

-- CreateIndex
CREATE INDEX "Tenant_companyName_idx" ON "public"."Tenant"("companyName" ASC);

-- CreateIndex
CREATE INDEX "User_authUserId_idx" ON "public"."User"("authUserId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_authUserId_key" ON "public"."User"("authUserId" ASC);

-- CreateIndex
CREATE INDEX "User_companyId_idx" ON "public"."User"("companyId" ASC);

-- CreateIndex
CREATE INDEX "User_email_idx" ON "public"."User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- AddForeignKey
ALTER TABLE "public"."Addendum" ADD CONSTRAINT "Addendum_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "public"."Contract"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contract" ADD CONSTRAINT "Contract_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contract" ADD CONSTRAINT "Contract_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "public"."Template"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contract" ADD CONSTRAINT "Contract_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "public"."Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Template" ADD CONSTRAINT "Template_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TemplateClause" ADD CONSTRAINT "TemplateClause_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "public"."Template"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Tenant" ADD CONSTRAINT "Tenant_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

